body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 20px;
}

details {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

summary {
    font-size: x-large;
    cursor: pointer;
}

img {
    width: 20%;
    height: 20%;
    border-radius: 5px;
}

p {
    margin: 10px 0;
}

button {
    background-color: #333;
    color: #fff;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

hr {
    border: 0.5px solid #ddd;
}

button:hover {
    background-color: #555;
}
